body{
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--aIigVlQp--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_66%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/kb1t4t2wit466hzlvet2.gif);
    background-size: 100%;
    
}
header{
    text-align: center;
    font-size: 50px;
    font-display: fixed;
    background-color: black;
    color: tomato;
    margin: 15px 100px 15px 100px;
    border-radius: 30px;
}
.introducao{
    text-align: justify;
    font-size: 20px;
    padding: 20px 100px 20px 100px;
    background-color: rgba(250, 235, 215, 0.366);
    border-radius: 55px;
}
.topicos{
    text-align: justify;
    font-size: 20px;
    padding: 20px 100px 20px 100px;
    background-color: rgba(250, 235, 215, 0.366);
    border-radius: 55px;

}
