body{
    background-color: #e2d8d8;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}

header {
    display: grid;
    align-content: center;
    grid-template-columns: auto 1fr;
    padding: 0.5rem 1rem;
    font-size: 50px;
  }
  
  img {
    border-radius: 50%;
    width: 200px;
  } 
  
  h1 {
    text-align: center;
  }
.menu, button{
    display: inline;
    padding-left: 0px;
    font-size: 30px;
}


footer{
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
}
#logos{
    font-size: 50px;
}
nav{
    text-align: center;
}
.glow-on-hover { /*sao os efeitos do botao do menu*/
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: row;  
    font-size: 20px;
 }
.item1{
    width: 10%; 
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
 }
 .item2{
    width: 80%;
    text-align: justify;
    font-size: 25px;
 }
 #espaco{
    margin-top: 0;
 }

 formatparagrafo{
    line-height: 1.75;
    max-width: 64ch;
 }
