body{
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    width: 100%;
    margin: 0;
}

header {
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 100%;    
}
  
img {
    margin-right: 0px;
    width: 100px;
    height: auto;
    border-radius: 50%;
} 
  
.titulo{
    width: 100%;

}
 /* Estilizando as divs visíveis */
 .div-visivel {
    width: 100%;
    height: 50px;
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

/* Estilizando as divs ocultas */
.div-oculta {
    width: 100%;
    display: none;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
}

#logos{
    font-size: 50px;
}
#contatos{
    text-align: center;
    align-items: center;
    width: 100%;
}
.conteudo {
    width: 100%;
    padding: 20px; /* Adicione um espaço ao redor do conteúdo para melhorar a leitura */
}
